.content {
  width: 100%;
  display: flex;
  white-space: nowrap;
  padding: 12px;
  border-style: solid;
  border-color: #bccee9;
  border-width: 1px;
  margin-top: 12px;
  font-weight: bold;
  background-color: aliceblue;
}

.result-container {
  width: 400px;
  white-space: nowrap;
}

.details-container {
  width: 100%;
  text-align: center;
}

.search-item {
  display: flex;
  padding: 10px;
  line-height: 40px;
  white-space: nowrap;
}

.search-item:hover {
  background-color: #ecf4ff;
}
